{% extends "post/base.html" %}
{% block content %}

    <h1>About Page</h1>
    <hr>
    <pre>   This is Django project, which uses html, css and Bootstrap for frontend.
        >> In this application a user can views various post written by different authors.
        >> If user selects a post, detailed information about that post is displayed.
        >> users can also register into the webpage.
        >> users can also do login, logut and also can reset password.
        >> once a user is registered, a unique profile will be created with default picture.
        >> user can also update his own profile.
        >> user can create a new post, also can update and delete it.
        >> user can only update and delete his post, not the post created by other users.
        >> if user selects on author, a list of post will be displayed which is written 
            by that author along with counts.
        >> user can scroll to end of the page using pagination.
    </pre>
    <hr>

{% endblock %}
